@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 1em;
}

.row {
  padding: 0;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.content {
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}

.footer {
  background-color: burlywood;
  padding: 0 1em;
}
